html, body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

main {
    display: flex;
    flex-flow: row nowrap;
}

aside {
    flex: 1;
}

form {
    width: 100%;
    border: 4px solid gainsboro;
    padding: 20px;
}

form .page {
    display: none;
    flex-flow: column nowrap;
    gap: 10px;
}

form span {
    display: flex;
    flex-flow: row nowrap;
    gap: 20px;
}

form span > input {
    flex: 1;
}

#wrapper {
    flex: 3;
    display: flex;
    flex-flow: row nowrap;
    overflow-y: hidden;
}

.hall {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-flow: row nowrap;
    gap: 20px;
    overflow: hidden;
}

.column {
    width: 150px;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.conveyor {
    width: 75px;
    height: 100%;
    background-color: burlywood;
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.truck-position {
    flex: 1;
}

.truck {
    margin-top: 20px;
    position: relative;
}

.truck-trailer {
    width: 100px;
    height: 220px;
    background-color: darkred;
    position: relative;
    cursor: pointer;
    z-index: 5;
}

.truck[type="cold"] .truck-trailer {
    background-color: aqua;
}

.truck[type="fragile"] .truck-trailer {
    background-color: orange;
}

.truck[type="pallet"] .truck-trailer {
    background-color: gainsboro;
    border: 5px solid gray
}

.truck[type="fast"] .truck-trailer {
    background-color: yellow;
    border: 5px solid yellowgreen
}

.truck-wheels {
    width: 110px;
    height: 30px;
    position: absolute;
    left: 50%;
    top: 10px;
    transform: translateX(-50%);
    background-color: black;
}

.truck[distance="global"] .truck-wheels::before {
    content: '';
    display: block;
    width: 110px;
    height: 30px;
    background-color: black;
    position: absolute;
    bottom: -40px;
}

.truck-wheels::after {
    content: '';
    display: block;
    width: 110px;
    height: 30px;
    background-color: black;
    position: absolute;
    bottom: -170px;
}

.truck-front {
    width: 100px;
    height: 85px;
    margin: 10px 0;
    background-color: black;
    position: relative;
}

.truck-front::before {
    content: '';
    display: block;
    width: 70px;
    height: 110px;
    background-color: black;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
}

.truck-front::after {
    content: '';
    display: block;
    width: 110px;
    height: 30px;
    background-color: black;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10px;
}

.depart-truck {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 6;
    transform: translate(-50%, -50%);
}

.box {
    width: 30px;
    height: 30px;
    background-color: brown;
}

.box[conveyor] {
    position: absolute;
}

.list {
    display: flex;
    flex-flow: row nowrap;
    gap: 10px;
}

.row {
    display: inline-block;
}

.slot {
    width: 60px;
    height: 60px;
    border: 2px solid black;
}

#modal {
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: white;
    padding: 20px;
    border: 2px solid black;
    transform: translate(-50%, -50%);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    z-index: 20;
}

.grid {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}